<label>姓名:</label><input id="name" type="text" /><br /><br />
<label>学号:</label><input id="stuId" type="text" /><br /><br />
<label>性别:</label>
<select>
    <option>男</option>
    <option>女</option>
</select><br /><br />
<label>家庭住址:</label><input id="arddress" type="text" /><br /><br />
<label>出生日期:</label><input id="dd" type="text" class="easyui-datebox" required="required" />