@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="大连工业大学,工业大学,工大,大连工业大学体育馆预约系统,体育馆预约" />
    <meta name="description" content="大连工业大学体育馆预约系统,提供大连工业大学的体育场预约服务,为广大师生预约场地提供服务..." />
    <title>大连工业大学体育馆预约系统|教师预约</title>
    <script src="~/Themes/JS/easyui/jquery-1.11.2.min.js"></script>
    <script src="~/Themes/JS/easyui/jquery.easyui.min-1.4.1.js"></script>
    <script src="~/Themes/JS/index.js"></script>
    <link href="~/Themes/Css/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Themes/Css/easyui/themes/color.css" rel="stylesheet" />
    <link href="~/Themes/Css/easyui/themes/icon.css" rel="stylesheet" />
</head>
<body class="easyui-layout">
    <div data-options="region:'north',title:'。。。',split:true,height:100"></div>
    <div data-options="region:'south',title:'大连工业大学B128版权所有',collapsible:false,split:true,height:20"></div>
    <div data-options="region:'center',title:'管理操作'">
        <table id="dg"></table>
    </div>
    <div id="dd"></div> 
</body>
</html>
